<div class="text-center col-md-12">
    <h2>
        Collections
    </h2>
    <div class="row">
        <div id="collections-result" class="result-list col-md-12"/>
    </div>
    <h2>
        Persons
    </h2>
    <div class="row">
        <div id="persons-result" class="result-list col-md-12"/>
    </div>
    <h2>
        Movies
    </h2>
    <div class="row">
        <div id="movies-result" class="result-list col-md-12"/>
    </div>
</div>
